@charset "UTF-8";
/*
em html id é =  a # em css (so pode 1 por elemento )
em html class é = a . em css(pode varios por elementos )



*/
body{
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #1e402f;
}
h1#principal{
    text-align: center;
    background-color: #3c805e;
    color:white;
}
h2{
    color: #3c805e;
    font-weight: bold;
}
.basico{
    color: #3c805e;
}
.intermediario{
    color: #80793c;
}
.avancado{
    color: #803c3c;
} 
.destaque{
    background-color: #c5c56070;
}